{% extends 'base.html.twig' %}

{% block title %}
	{{pageTitle}}
	Genre:
	{{ category.name}}
{% endblock %}

{% block body %}
	<div class='relative w-full'>
		<img src='/uploads/{{category.media.filename}}' alt='category-icon' class='w-full shadow-lg h-[600px] object-cover absolute -top-2 -z-50 opacity:40'>
	</div>

	<div class='flex items-end m-4 justify-end z-50'>
		<div class='lg:w-1/2 mt-6 lg:mt-0 bg-black p-4 rounded-lg bg-opacity-50'>
			<h1 class='text-4xl font-bold leading-tight mb-4 text-white'>{{category.name}}</h1>
			{% if category.featText %}

				<p class='text-lg mb-6'>{{category.featText}}</p>
			{% endif %}
		</div>
	</div>
	<div class='grid lg:grid-cols-4 sm:grid-cols-2 justify-center gap-2 p-4'>
		{% for post in posts %}
			{% include 'post/postCard.html.twig' %}
		{% endfor %}
	</div>
{% endblock %}
