{% extends 'base.html.twig' %}

{% block title %}Films de
	{{ actor.name}}
{% endblock %}

{% block body %}
	<div class='w-full p-4 lg:flex mx-auto mb-8'>
		<div class='h-60 lg:h-auto lg:w-48 flex-none bg-cover rounded-tl lg:rounded-l text-center overflow-hidden' style='background-image: url("/uploads/{{actor.featImg.filename }}");background-position:center' title='{{actor.slug}}'></div>
		<div class='bg-neutral-50 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal'>
			<div class='mb-4'>
				<div class='font-bold text-xl mb-2 font-anton my-4 uppercase text-gray-700'>
					{{actor.name}}
				</div>
				<p class='text-gray-700 text-base'>{{actor.featText}}</p>
			</div>
		</div>
	</div>
	<div class='grid lg:grid-cols-4 sm:grid-cols-2 justify-center gap-2 m-4'>
		{% for post in posts %}
			{% include 'post/postCard.html.twig' %}
		{% endfor %}
	</div>
{% endblock %}
