{% extends 'base.html.twig' %}

{% block title %}Films par plateforme |
	{{ source.name}}
{% endblock %}

{% block body %}
	<div class='max-w-sm lg:max-w-full lg:flex shadow-lg shadow-neutral-800 w-1/2 mx-auto mb-8'>
		<div class='h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-tl lg:rounded-l text-center overflow-hidden' style='background-image: url("/uploads/{{source.featImg.filename }}");background-position:center' title='{{source.slug}}'></div>
		<div class='bg-neutral-50 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal'>
			<div class='mb-4'>
				<div class='font-bold text-xl mb-2 font-anton my-4 uppercase text-gray-700'>
					{{source.name}}
				</div>
				<p class='text-gray-700 text-base'>{{source.featText}}</p>
			</div>
		</div>
	</div>
	<div class='grid lg:grid-cols-4 justify-center p-4'>
		{% for post in posts %}
			<div class='my-2 mx-2'>
				{% include 'post/postCard.html.twig' %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
