{% set post_detail = path('post_detail', {'slug':post.slug}) %}

<div class='max-w-sm w-full lg:max-w-full lg:flex shadow-lg'>
	<div class='h-48  lg:h-auto lg:w-48 flex-none bg-cover rounded-t-l-lg lg:rounded-l text-center overflow-hidden' style='background-image: url("/uploads/{{post.featImg.filename }}")' title='{{post.slug}}'></div>
	<a href='{{post_detail}}'>

		<div class='border-r border-b border-l border-black lg:border-l-0 lg:border-t lg:border-black bg-black rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal'>
			<div class='mb-4'>
				<p class='text-sm text-neutral-300 flex items-center gap-2'>
					<img src='/images/icons/category-ico-r.svg' alt='category-icon' class='w-8 h-8'>
					{{post.category}}
				</p>
				<div class='font-bold text-xl mb-2 font-anton my-4 uppercase text-yellow-400'>
					{{post.title}}
				</div>
				<p class='text-neutral-50 text-base'>{{post.content | striptags | slice(0,180)}}</p>
			</div>
			{% if post.user is not null and post.user.avatar is not null %}

				<div class='flex items-center py-2'>
					{% if app.user.avatar is not null %}
						<img class='w-10 h-10 rounded-full object-cover object-bottom mr-4 border-2 border-white' src='/uploads/avatars/{{post.user.avatar}}' alt='{{post.slug}}'>
					{% endif %}
					<div class='text-sm'>
						<p class='text-neutral-300 leading-none'>{{post.user.username}}</p>
						<p class='text-neutral-300 text-sm font-extralight my-2'>Publié le
							{{post.createdAt|date('d/m/y')}}</p>
					</div>
				</div>
			{% endif %}
		</div>
	</a>
</div>
