{% set post_detail = path('post_detail', {'slug':post.slug}) %}

<div class='mx-auto px-4 lg:max-w-xl flex flex-wrap'>
	<a href="{{post_detail}}" class='cursor-pointer'>

		<div class='bg-black shadow-2xl shadow-black rounded-lg mb-6 tracking-wide'>
			<div class='md:flex-shrink-0 relative bg-black rounded-lg'>
				<p class='text-sm text-neutral-300 flex items-center gap-2 py-4 px-4'>
					<img src='/images/icons/category-ico-r.svg' alt='category-icon' class='w-8 h-8'>
					{{post.category}}
				</p>
				<div class='overflow-hidden'>
					<img src="{{ ('/uploads/' ~ post.featImg.filename) | imagine_filter('thumb') }}" alt="{{ post.slug }}" class='w-full h-64 object-cover object-top hover:scale-125 transform transition-transform ease-in delay-400 overflow-hidden'>
				</div>
				{% if post.source %}
					<img src='/uploads/{{post.source.featImg.filename }}' alt='{{post.source.name}}' class='absolute right-4 top-10 w-10 h-10 rounded-full object-cover shadow-lg shadow-black'>
				{% endif %}
			</div>
			<div class='mb-4 p-4 lg:min-h-[350px] flex flex-col justify-between'>

				<div class='flex flex-col justify-between sm:gap-4'>
					<a href="{{post_detail}}" class='underline text-yellow-400'>
						<h4 class='font-bold text-xl font-anton uppercase text-yellow-400'>{{post.title}}</h4>
					</a>
					{% if post.featText is not null %}
						<p class='text-neutral-50 text-base'>
							{{post.featText | striptags | slice(0,180)}}...
							<br>
							<a href='{{post_detail}}' class='text-yellow-400'>[Lire la suite]</a>
						</p>
					{% else %}
						<p class='text-neutral-50 text-base'>
							{{post.content | striptags | slice(0,180)}}...
							<br>
							<a href='{{post_detail}}' class='text-yellow-400'>[Lire la suite]</a>
						</p>
					{% endif %}
				</div>
				{# {{dump(post.user.avatar)}} #}
				{% if post.user is not null and post.user is defined %}
					<div class='flex items-center sm:mt-4'>
						{% if app.user.avatar is not null %}
							<img class='w-10 h-10 rounded-full object-cover object-top mr-4 border-2 border-white' src='/uploads/avatars/{{post.user.avatar}}' alt='{{post.slug}}'>
						{% endif %}
						<div class='text-sm'>
							<p class='text-neutral-300 leading-none'>{{post.user.username}}</p>
							<p class='text-neutral-300 text-sm font-extralight my-1'>Publié le
								{{post.createdAt|date('d/m/y')}}</p>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</a>
</div>
