{% set post_detail = path('post_detail', {'slug':post.slug}) %}

<div class='lg:max-w-xl flex flex-wrap mx-2'>
	<a href="{{post_detail}}" class='cursor-pointer'>
		<div class='bg-black shadow-2xl shadow-black rounded-lg'>
			<div class='md:flex-shrink-0 relative bg-black rounded-lg lg:min-h-[150px] sm:min-h-[250px]'>
				<p class='text-sm text-neutral-300 flex items-center gap-2 py-2 px-4'>
					<img src='/images/icons/category-ico-r.svg' alt='category-icon' class='w-7 h-7'>
					{{post.category}}
				</p>
				<div class='overflow-hidden'>
					<img src="{{ ('/uploads/' ~ post.featImg.filename) | imagine_filter('thumb') }}" alt="{{ post.slug }}" class='w-full h-64 object-cover object-top hover:opacity-60'>
				</div>
				{% if post.source %}
					<img src='/uploads/{{post.source.featImg.filename }}' alt='{{post.source.name}}' class='absolute right-4 top-5 w-10 h-10 rounded-full object-cover shadow-lg shadow-black'>
				{% endif %}
			</div>
			<div class='my-2 sm:my-4 mx-6 lg:min-h-[310px] md:min-h-[250px] flex flex-col justify-between'>
				<div class='flex-1 flex flex-col gap-2'>
					<a href="{{post_detail}}" class='underline text-yellow-400'>
						<h4 class='font-bold text-xl font-anton uppercase text-yellow-400'>{{post.title}}</h4>
					</a>
					{% if post.featText is not null %}
						<p class='text-neutral-50 text-base'>
							{{post.featText | striptags | slice(0,180)}}...
						</p>

					{% else %}
						<p class=' text-neutral-50 text-base'>
							{{post.content | striptags | slice(0,180)}}...
						</p>
					{% endif %}
					<a href='{{post_detail}}' class='text-sm underline text-yellow-400 mb-2'>
						[Lire la suite]
					</a>
				</div>
				{% if post.user is not null and post.user is defined %}
					<div class='flex items-center justify-start lg:mt-auto my-2 mt-4'>
						{% if post.user.avatar is not null %}
							<img class='w-10 h-10 rounded-full object-cover object-top mr-4 border-2 border-white' src='/uploads/avatars/{{post.user.avatar}}' alt='{{post.slug}}'>
						{% endif %}
						<div class='text-sm'>
							<p class='text-neutral-300 leading-none'>{{post.user.username}}</p>
							<p class='text-neutral-300 text-sm font-extralight my-1'>Publié le
								{{post.createdAt|date('d/m/y')}}</p>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</a>
</div>
