{% extends 'base.html.twig' %}

{% block title %}
	{{pageTitle}}
	Films de
	{{ director.name}}
{% endblock %}

{% block body %}
	<div class='w-full p-4 lg:flex mx-auto mb-8'>
		<img src='/uploads/{{director.featImg.filename }}' alt='{{director.slug}}' class='lg:w-full lg:h-80 h-60 w-60 object-cover rounded-full lg:rounded-lg object-center border-white border-2 mx-auto my-4 lg:my-0'>
		<div class='bg-neutral-50 p-4 flex flex-col justify-between leading-normal rounded-lg border-2 border-black'>
			<div class='mb-4 text-gray-700'>
				<p class='font-bold text-xl mb-2 font-anton my-4 uppercase text-gray-700'>
					{{director.name}}
				</p>
				{# <p class='font-semibold my-4'>Date de naissance:
					{{director.dateOfBirth | date('d M Y')}}
				</p> #}
				<p class='text-gray-700 text-base'>{{director.featText}}</p>
			</div>
		</div>
	</div>
	<div class='grid lg:grid-cols-4 sm:grid-cols-2 justify-center gap-2 m-4'>
		{% for post in posts %}
			{% include 'post/postCard.html.twig' %}
		{% endfor %}
	</div>
{% endblock %}
