<!-- Main navigation container -->
<nav class='relative flex w-full flex-wrap items-center justify-between bg-[#1C1917] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-warm-600 lg:py-4' data-te-navbar-ref>
	<div class='flex w-full flex-wrap items-center justify-between px-3'>
		<div class='flex items-center justify-center gap-2'>
			<a class='mx-2 my-1 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0' href='{{path('app_home')}}'>
				<img
				class='' src='{{ asset('images/logo/cinemagik-logo.svg')}}' style='height: 40px' alt='TE Logo' loading='lazy'/>
				<!-- Home link -->
				<span class='my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1' data-te-nav-item-ref>
					<a class='text-neutral-500 hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400' aria-current='page' href='{{ path('app_home')}}' data-te-nav-link-ref id='blog-title'>CINEMAGIK</a>
				</span>
			</a>
		</div>

		<!-- Hamburger button for mobile view -->
		<button
			class='block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden' type='button' data-te-collapse-init data-te-target='#navbarSupportedContent4' aria-controls='navbarSupportedContent4' aria-expanded='false' aria-label='Toggle navigation'>
			<!-- Hamburger icon -->
			<span class='[&>svg]:w-7'>
				<svg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='currentColor' class='h-7 w-7'>
					<path fill-rule='evenodd' d='M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z' clip-rule='evenodd'/>
				</svg>
			</span>
		</button>

		<!-- Collapsible navbar container -->
		<div
			class='!visible mt-2 hidden flex-grow basis-[100%] mx-auto lg:mt-0 lg:!flex lg:basis-auto' id='navbarSupportedContent4' data-te-collapse-item>
			<!-- Left links -->
			<ul class='list-style-none mr-auto flex flex-col pl-0 lg:mt-1 lg:flex-row' data-te-navbar-nav-ref></ul>

			<div class='flex lg:flex-row lg:mr-10 sm:flex-col md:gap-4 items-center'>
				<span data-te-ripple-init data-te-ripple-color='light' class='' id='navBtn'>
					<a href='' class=''>
						FILMS
					</a>
				</span>
				<span data-te-ripple-init data-te-ripple-color='light' class='' id='navBtn'>
					<a href=''>
						SERIES
					</a>
				</span>
				<!-- Dropdown SVOD-->
				<div class='relative mx-auto' data-te-dropdown-ref id='navBtn'>
					<a class='flex items-center' href='#' type='button' data-te-dropdown-toggle-ref aria-expanded='false'>
						SVOD
						<span class='mx-2 w-2'>
							<svg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#DC2626' class='h-5 w-5'>
								<path fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd'/>
							</svg>
						</span>
					</a>
					<ul class='absolute z-[1000] float-left mt-5 hidden min-w-max list-none overflow-hidden border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-[#1C1917] [&[data-te-dropdown-show]]:block' aria-labelledby='dropdownMenuButton2' data-te-dropdown-menu-ref>
						<li>
							<a class='block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal hover:bg-yellow-400 hover:text-[#1C1917] active:no-underline disabled:pointer-events-none disabled:bg-transparent  dark:text-neutral-200' href='#' data-te-dropdown-item-ref>Amazon Prime</a>
						</li>
						<li>
							<a class='block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal hover:bg-yellow-400 hover:text-[#1C1917] active:no-underline disabled:pointer-events-none disabled:bg-transparent  dark:text-neutral-200' href='#' data-te-dropdown-item-ref>Disney +</a>
						</li>
						<li>
							<a class='block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal hover:bg-yellow-400 hover:text-[#1C1917] active:no-underline disabled:pointer-events-none disabled:bg-transparent  dark:text-neutral-200' href='#' data-te-dropdown-item-ref>Netflix</a>
						</li>
					</ul>
				</div>
				<!-- End Dropdown SVOD -->
				<span type='button' data-te-ripple-init data-te-ripple-color='light' class='mx-auto' id='signBtn'>
					<a href=''>
						Se connecter
					</a>
				</span>
				<!-- Dropdown User-->
				<div class='relative mx-auto' data-te-dropdown-ref id='userBtn'>
					<a class='flex items-center px-6 pb-2 pt-2.5' href='#' type='button' data-te-dropdown-toggle-ref aria-expanded='false'>
						Hello User
						<span class='mx-2 w-2'>
							<svg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#DC2626' class='h-5 w-5'>
								<path fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd'/>
							</svg>
						</span>
					</a>
					<ul class='absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden mt-5 border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block' aria-labelledby='dropdownMenuButton2' data-te-dropdown-menu-ref>
						<li>
							<a class='flex gap-2 w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal hover:bg-yellow-400 hover:text-[#1C1917] active:no-underline disabled:pointer-events-none disabled:bg-transparent  dark:text-neutral-200' href='#' data-te-dropdown-item-ref>
								<img src='{{ asset('images/icons/user-ico.svg')}}' alt='user-icon'>
								Mon compte
							</a>
						</li>
						<li>
							<a class='flex gap-2 w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal hover:bg-yellow-400 hover:text-[#1C1917] active:no-underline disabled:pointer-events-none disabled:bg-transparent  dark:text-neutral-200' href='#' data-te-dropdown-item-ref>
								<img src='{{ asset('images/icons/dashboard-ico.svg')}}' alt='dashboard-icon'>
								Tableau de bord
							</a>
						</li>
						<li>
							<a class='flex gap-2 w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal hover:bg-yellow-400 hover:text-[#1C1917] active:no-underline disabled:pointer-events-none disabled:bg-transparent  dark:text-neutral-200' href='#' data-te-dropdown-item-ref>
								<img src='{{ asset('images/icons/logout-ico.svg')}}' alt='logout-icon'>
								Déconnexion
							</a>
						</li>
					</ul>
				</div>
				<!-- End Dropdown User -->
			</div>
		</div>
	</div>
</nav>
