<!-- component -->
<nav aria-label='navbar' class='relative px-4 py-4 flex justify-between items-center bg-[#1C1917]'>
	<a class='text-3xl font-bold leading-none flex items-center' href='{{path('app_home')}}'>
		<img src="{{asset('images/logo/cinemagik-logo.svg')}}" alt='logo-cinemagik' class='w-8 h-8'>
		<span class='text-white text-xl ml-2 font-limelight'>
			CINEMAGIK
		</span>
	</a>
	<div class='lg:hidden'>
		<button class='navbar-burger flex items-center text-yellow-400 p-3'>
			<svg class='block h-4 w-4 fill-current' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'>
				<title>Mobile menu</title>
				<path d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z'></path>
			</svg>
		</button>
	</div>
	<div class='hidden z-50 absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6'>
		<a class='text-xl font-anton text-yellow-400 uppercase tracking-wider border-b border-[#1C1917] hover:border-b hover:border-red-600' href='{{path('app_movies')}}'>Films</a>

		<a class='text-xl font-anton text-yellow-400 uppercase tracking-wider border-b border-[#1C1917] hover:border-b hover:border-red-600' href='{{path('app_tvshow')}}'>Séries</a>

		<!-- SVOD-->
		{{ render(controller('App\\Controller\\SourceController::getSourcesName')) }}
	</div>
	{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		<!-- Connection Button -->
		<a class='hidden lg:inline-block py-2 px-6 bg-yellow-400 text-black font-bold rounded-xl transition duration-200' href='{{path('app_login')}}'>Connexion</a>
	{% else %}
		<!-- Dropdown User -->
		<div class='hidden lg:flex z-10'>
			<div class='group inline-block relative'>
				<button class='bg-yellow-400 text-black py-2 px-4 inline-flex items-center rounded-2xl'>
					<span class='mr-1'>Hey
						{{app.user.username }}!</span>
					<svg class='fill-current h-4 w-4 text-red-600' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20'>
						<path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/>
					</svg>
				</button>
				<button class='absolute hidden text-black group-hover:block'>
					<a class='bg-neutral-200 hover:bg-white py-2 px-4 whitespace-no-wrap flex items-center gap-2 rounded-t-lg' href='{{path('app_profile')}}'>
						<img src='{{ asset('images/icons/user-ico.svg')}}' alt='user-icon' class='w-4 h-4'>
						Compte</a>
					<a class='bg-neutral-200 hover:bg-white py-2 px-4 whitespace-no-wrap flex items-center gap-2' href='/admin'>
						<img src='{{ asset('images/icons/dashboard-ico.svg')}}' alt='dashboard-icon' class='w-4 h-4'>
						Admin</a>
					<a class='bg-neutral-200 hover:bg-white py-2 px-4 whitespace-no-wrap flex items-center gap-2 rounded-b-lg' href='{{path('app_logout')}}'>
						<img src='{{ asset('images/icons/logout-ico.svg')}}' alt='logout-icon' class='w-4 h-4'>
						Déconnexion
					</a>
				</button>
			</div>
			<!-- End Dropdown User -->
		{% endif %}
	</nav><!-- Responsive Menu --><div class='navbar-menu relative z-50 hidden w-full overflow-x-hidden'>
		<nav
			aria-label='menu-bar' class='fixed top-0 left-0 bottom-0 flex flex-col w-full py-6 px-6 bg-black border-r overflow-y-auto'>
			<!-- Logo and title -->
			<div class='flex items-center justify-between mb-8'>
				<a class='text-3xl font-bold leading-none flex items-center' href="{{path('app_home')}}">
					<img src="{{asset('images/logo/cinemagik-logo.svg')}}" alt='logo-cinemagik' class='w-8 h-8'>
					<span class='text-white text-xl ml-2 font-limelight'>
						CINEMAGIK
					</span>
				</a>
				<!-- Close Button -->
				<button class='navbar-close'>
					<svg class='h-6 w-6 text-yellow-400 cursor-pointer hover:text-white' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor'>
						<path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12'></path>
					</svg>
				</button>
			</div>
			<!-- navbar Links -->
			<ul>
				<li class='mb-1 py-2'>
					<a class='block font-anton text-xl tracking-wider uppercase text-yellow-400 border-b border-black hover:border-b-red-600' href='{{path('app_movies')}}'>Films</a>
				</li>
				<li class='mb-1 py-2'>
					<a class='block font-anton text-xl tracking-wider uppercase text-yellow-400 border-b border-black hover:border-b-red-600' href='{{path('app_tvshow')}}'>Séries</a>
				</li>
				<!-- SVOD-->
				<li class='mb-1 group inline-block relative py-2'>
					<button class='inline-flex'>
						<span class='text-xl font-anton text-yellow-400 uppercase tracking-wider'>SVOD</span>
						<svg class='fill-current h-4 w-4 text-red-600' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20'>
							<path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/>
						</svg>
					</button>
					<ul class='absolute hidden text-white group-hover:block rounded-lg'>
						<li class=''>
							<a class='block bg-[#1C1917] hover:bg-white hover:text-black py-2 px-4 whitespace-no-wrap' href='#'>
								Disney+</a>
						</li>
						<li class=''>
							<a class='block bg-[#1C1917] hover:bg-white hover:text-black py-2 px-4 whitespace-no-wrap' href='#'>
								Amazon Prime</a>
						</li>
						<li class=''>
							<a class='block bg-[#1C1917] hover:bg-white hover:text-black py-2 px-4 whitespace-no-wrap' href='#'>
								Netflix
							</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- footer -->
			<div class='w-full my-24'>
				<div class='flex flex-col items-center justify-between'>
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}

						<a class='block w-full px-4 py-3 mb-2 leading-loose text-sm text-center text-black font-semibold bg-yellow-400 rounded-xl' href='{{path('app_login')}}'>Connexion</a>

					{% else %}

						<!-- Dropdown User -->
						<div class='z-10 flex flex-col items-center w-1/2 mx-auto'>
							<div class='group inline-block relative w-full'>
								<button class='w-full bg-yellow-400 text-black py-2 px-4 inline-flex items-center rounded-lg text-center'>
									<span class='mr-1'>Hey
										{{app.user.username }}!</span>
									<svg class='fill-current h-4 w-4 text-red-600' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20'>
										<path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/>
									</svg>
								</button>
								<ul class='absolute hidden text-black group-hover:block w-full'>
									<li class=''>
										<a class='bg-neutral-200 hover:bg-white py-2 px-4 whitespace-no-wrap flex items-center gap-2 rounded-tl-lg rounded-tr-lg' href='{{ path('app_profile') }}'>
											<img src='{{ asset('images/icons/user-ico.svg')}}' alt='user-icon' class='w-4 h-4'>
											Compte</a>
									</li>
									<li class=''>
										<a class='bg-neutral-200 hover:bg-white py-2 px-4 whitespace-no-wrap flex items-center gap-2' href='#'>
											<img src='{{ asset('images/icons/dashboard-ico.svg')}}' alt='dashboard-icon' class='w-4 h-4'>
											Blog</a>
									</li>
									<li class=''>
										<a class='bg-neutral-200 hover:bg-white  py-2 px-4 whitespace-no-wrap flex items-center gap-2 rounded-bl-lg rounded-br-lg' href='{{ path('app_logout') }}'>
											<img src='{{ asset('images/icons/logout-ico.svg')}}' alt='logout-icon' class='w-4 h-4'>
											Déconnexion
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End Dropdown User -->
					{% endif %}
				</div>
			</div>
		</nav>
	</div>
	<script src="{{ asset('js/navbar.js') }}"></script>
