{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de
	{{ app.user.username }}
{% endblock %}

{% block body %}


	<div
		class='lg:w-1/2 mx-auto px-4 my-10'>

		<!-- Message flash-->
		{% for message in app.flashes('error') %}
			<div class='inline-flex items-center rounded-md bg-red-600 px-2 py-1 text-sm font-sm my-4 shadow-lg'>
				<span class='text-red-50 text-center'>{{error}}!!</span>
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class='inline-flex items-center rounded-md bg-green-600 px-2 py-1 text-sm font-sm my-4 shadow-lg'>
				<span class='text-red-50 text-center'>{{success}}!!</span>
			</div>
		{% endfor %}

		<span class='bg-yellow-400 rounded-full p-2 mb-8 text-black'>
			<a href="{{path('app_profile')}}">&#11153; Retour à mon compte</a>
		</span>

		<h1 class='my-4 mt-10 text-center'>{% trans %}Modification du mot de passe de
			{% endtrans %}
			{{ app.user.username }}</h1>

		<div class='w-1/2 mx-auto bg-black p-6 rounded-lg'>
			{{ form_errors(passwordForm) }}

			{{form_start(passwordForm)}}
			{{form_row(passwordForm.plainPassword)}}
			{{form_row(passwordForm.submit)}}
			{{form_end(passwordForm)}}
		</div>
	</div>
</div>{% endblock %}
