{% extends 'base.html.twig' %}

{% block title %}Modification de l'avatar de
	{{ app.user.username }}
{% endblock %}

{% block body %}
	<div
		class='w-1/2 mx-auto px-4'>
		<!-- Message flash-->
		{% for message in app.flashes('error') %}
			<div class='inline-flex items-center rounded-md bg-red-600 px-2 py-1 text-sm font-sm my-4 shadow-lg'>
				<span class='text-red-50 text-center'>{{error}}!!</span>
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class='inline-flex items-center rounded-md bg-green-600 px-2 py-1 text-sm font-sm my-4 shadow-lg'>
				<span class='text-red-50 text-center'>{{success}}!!</span>
			</div>
		{% endfor %}

		<h1 class='mb-4 text-center'>{% trans %}Modification de l'avatar de
			{% endtrans %}
			{{ app.user.username }}</h1>

		<div class='w-1/2 mx-auto bg-black p-6 rounded-lg'>
			{{ form_errors(avatarForm) }}

			{{form_start(avatarForm)}}
			{{form_row(avatarForm.avatar)}}
			{{form_row(avatarForm.submit)}}
			{{form_end(avatarForm)}}
		</div>
	</div>
{% endblock %}
